on init	
    # Less throttling, more experience (CPU)
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "electroutil"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2016000
    chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
	
    # Less throttling, more experience (GPU)	
    write /sys/class/devfreq/1c00000.qcom,kgsl-3d0/max_freq 650000000
	
on fs
    mount_all ./fstab.qcom --early

    # Set default profile on first boot
    exec u:r:init:s0 root root -- /init.zuc.sh
    exec u:r:su:s0 root root -- /init.zuc.sh

# Run post-boot script after Qualcomm's post_boot shell script
on property:init.svc.qcom-post-boot=stopped
    write /sys/devices/platform/kcal_ctrl.0/kcal "192 192 192"
    write /sys/kernel/sound_control/headphone_gain "0 0"
    write /sys/kernel/sound_control/speaker_gain "0"

on property:sys.boot_completed=1
   # Enable ZRAM on boot_complete
   swapon_all /vendor/etc/fstab.${ro.hardware}


